<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace使用Mapper接口的全限类名-->
<mapper namespace="com.faintdream.mybatis.mapper.SexMapper">
    <select id="selectAll" resultType="Sex">
        select * from t_sex;
    </select>

</mapper>