<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.BlogMapper">

    <!--insert语句-->
    <!--id是这条sql语句的唯一标识,这个id就代表了这条sql语句-->
    <insert id="insertCar">
        INSERT INTO t_car(id,car_num,brand,guide_price,produce_time,car_type)
        VALUES(null,'1006','奥迪A6L','50.0','2010-11-11','燃油车')
    </insert>
    <select id="selectCar" >
        select * from t_car where id = #{id}
    </select>
</mapper>