<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace使用Mapper接口的全限类名-->
<mapper namespace="com.faintdream.mybatis.mapper.Genshin_roleMapper">

    <!--id使用Mapper接口的方法名-->
    <insert id="insert" parameterType="com.faintdream.mybatis.pojo.Genshin_role">
        INSERT INTO t_genshin_role VALUES(#{id},#{name},#{name_c});
    </insert>

    <delete id="deleteById" parameterType="com.faintdream.mybatis.pojo.Genshin_role">
        DELETE FROM t_genshin_role WHERE id=#{id};
    </delete>

    <update id="update" parameterType="com.faintdream.mybatis.pojo.Genshin_role">
        UPDATE t_genshin_role SET name=#{name},name_c=#{name_c} WHERE id=#{id};
    </update>

    <!-- 这里不建议这么写-->
    <update id="updateById" parameterType="com.faintdream.mybatis.pojo.Genshin_role">
        UPDATE t_genshin_role SET name=#{name},name_c=#{name_c} WHERE id=#{id};
    </update>

    <select  id="selectById" parameterType="com.faintdream.mybatis.pojo.Genshin_role" resultType="com.faintdream.mybatis.pojo.Genshin_role">
        SELECT * FROM t_genshin_role WHERE id=#{id};
    </select>

    <select  id="selectAll" resultType="com.faintdream.mybatis.pojo.Genshin_role">
        SELECT * FROM t_genshin_role;
    </select>
</mapper>